.cardContainer {
  height: 76vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 100px; 

  .card {
    width: 1296px;
    height: 686px;
  }

  .imageContainer {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    overflow: hidden;

    .inner {
      width: 100%;
      height: 100%;
    }
  }
}
