.cardContainer {
  height: 76vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 100px; 
}

.card {
  width: 1200px;
  height: 686px;
  overflow: hidden;
  position: relative;
  
}

